venv/
.env*
skin_app/__pycache__/*
Skin_project/__pycache__/*
Backend/Skin_project/skin_app/__pycache__/*
Backend/Skin_project/Skin_project/__pycache__/*

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzwme

media/uploads*
